### Using the tax calculator!

Now that we have a working tax calculator, we need to put it to work.

First, import the tax calculator.

In [14]:
from tax_calculator import tax_calculator

#### Processing Transactions

Apply the tax calculator to the list of subtotals below.

We want to store all of the results in a single list, so each list returned from the tax calculator should be a list stored in a list called `full_transactions`. Use the default tax rate for each transaction.

In [15]:
subtotals = [15.98, 899.97, 799.97, 117.96, 5.99, 599.99]
full_transactions = []
for subtotal in subtotals:
    full_transactions.append(subtotal * tax_calculator(subtotal))
full_transactions

TypeError: can't multiply sequence by non-int of type 'float'

#### Transaction Dictionary

Great! Now that you've done that, combine the transactions with the customer_ids below into a dictionary.

We want the customer_ids as keys, and the transactions as values.

In [5]:
customer_ids = ['C00004', 'C00007', 'C00015', 'C00016', 'C00020', 'C00010']


customer_dict

{'C00004': [15.98, 0.96, 16.94],
 'C00007': [899.97, 54.0, 953.97],
 'C00015': [799.97, 48.0, 847.97],
 'C00016': [117.96, 7.08, 125.04],
 'C00020': [5.99, 0.36, 6.35],
 'C00010': [599.99, 36.0, 635.99]}