In [7]:
exch_rate = 0.88
usd_list = [5.99, 5.88, 11.22, 32.99]

af_currency = []
for list in usd_list:
    af_currency.append(round(list * exch_rate,2))
print(af_currency)

[5.27, 5.17, 9.87, 29.03]

In [12]:
usd_list = [5.99, 5.88, 11.22, 32.99]

for usd in usd_list:
    usd = usd_list[1] #@drukujemy drugi index w tym przypadku 5.88
print(usd)

5.88

In [47]:
iterable = 'Maven'
for item in iterable:
    print(item)
if item == 'n':
    print('Good')

M
a
v
e
n
Good

In [51]:
customer_ratings = [ '3 stars', '4 stars', '5 stars', '3 stars', '1 star', '5 stars', '4 stars']

rating = int(customer_ratings[0][0])
print(rating)

3

In [62]:
empty_list = [] #tworzymy pusta liste aby zapisac dane do niej
for rating in customer_ratings:
    empty_list.append(int(rating[0])) #wybieramy pierwszy znak w wybranym elemencie listy
    avg = (sum(empty_list)/ len(empty_list) )
print(avg)
print(empty_list)

3.5714285714285716
[3, 4, 5, 3, 1, 5, 4]

In [65]:
exchange_rate = 0.88
usd_list = [5.99, 5.88, 11.22, 32.99]
euro_list = []

for i in range(len(usd_list)):
    euro_list.append(round(usd_list[i] * exchange_rate, 2))
print(euro_list)

[5.27, 5.17, 9.87, 29.03]

In [28]:
usd_list = [5.99, 5.88, 11.22, 32.99]
item_list =  ['Snowboard', ' Boots', 'Helmet', 'Google', 'Bindings']

for i in range(len(usd_list)):
    print(f' The {item_list[i].lower()} costs {usd_list[i]} euros.')

 The snowboard costs 5.99 euros.
 The  boots costs 5.88 euros.
 The helmet costs 11.22 euros.
 The google costs 32.99 euros.

In [6]:
inventory = [10, 15, 10, 15 , 8 , 27]
prices = [2.99, 99.99, 219.99, 89.99, 29.99, 9.99]

for i in range(len(inventory)):
    print (f' Some kind of word {prices[i]} and another word {inventory[i]}')

for index, item in enumerate(inventory):
    price = prices[index]
    print(f' item {index + 1}: Inventory - {item}, Price - ${price}')

 Some kind of word 2.99 and another word10
 Some kind of word 99.99 and another word15
 Some kind of word 219.99 and another word10
 Some kind of word 89.99 and another word15
 Some kind of word 29.99 and another word8
 Some kind of word 9.99 and another word27
 item 1: Inventory - 10, Price - $2.99
 item 2: Inventory - 15, Price - $99.99
 item 3: Inventory - 10, Price - $219.99
 item 4: Inventory - 15, Price - $89.99
 item 5: Inventory - 8, Price - $29.99
 item 6: Inventory - 27, Price - $9.99

In [7]:
inventory = [10, 15, 10, 15 , 8 , 27]
prices = [2.99, 99.99, 219.99, 89.99, 29.99, 9.99]

for i in range(len(inventory)):
    print(i)

0
1
2
3
4
5

In [11]:
inventory = [10, 15, 10, 15 , 8 , 27]
prices = [2.99, 99.99, 219.99, 89.99, 29.99, 9.99]

for i in range(len(inventory)):
    print(round(inventory[i] * prices[i], 2))

29.9
1499.85
2199.9
1349.85
239.92
269.73

In [14]:
product_values = [] #pusta lista 
for i in range(len(inventory)): #iterujemy po indeksach liscie inventory, ktora z poleceniem len zwraca calkowita liczbe elementow listy
    product_values.append(round(inventory[i] * prices[i], 2)) #dodajemy do pustej listy stworzonej wyzej
print(product_values) #drukujemy wynik

[29.9, 1499.85, 2199.9, 1349.85, 239.92, 269.73]

In [15]:
sum(product_values) #zliaczamy sume

5589.15

In [17]:
euro_list = [5.99, 5.88, 11.22, 32.99, 99.99]
item_list =  ['Snowboard', ' Boots', 'Helmet', 'Google', 'Bindings']

for index, element in enumerate(euro_list):
    print(index, element)

0 5.99
1 5.88
2 11.22
3 32.99
4 99.99

In [19]:
item_names = [ 'Keychain', 'Helmet', 'Snowboard', 'Ski Poles', 'Sweatshit', 'Boots']
inventories = [10, 14, 10, 15, 8 , 27]
prices = [2.99, 99.99, 219.99, 89.99, 29.99, 9.99]

product_values = []

for i in range(len(inventories)):
    product_values.append(round(inventories[i] * prices[i], 2))
print(product_values)

sum(product_values)

[29.9, 1399.86, 2199.9, 1349.85, 239.92, 269.73]

5489.16

In [23]:
#enumerate

item_names = [ 'Keychain', 'Helmet', 'Snowboard', 'Ski Poles', 'Sweatshit', 'Boots']
inventories = [10, 14, 10, 15, 8 , 27]
prices = [2.99, 99.99, 219.99, 89.99, 29.99, 9.99]

product_values = []

for i, inventory in enumerate(inventories):
    product_value = round(inventory * prices[i], 2)
    product_values.append(product_value) #nie potrzebujemy indexu [i] gdyz jest on zawarty w funkcji enumerate
    print(f' We have ${product_value} wort of {item_names[i]}')
print(product_values)

sum(product_values)

 We have $29.9 wort of Keychain
 We have $1399.86 wort of Helmet
 We have $2199.9 wort of Snowboard
 We have $1349.85 wort of Ski Poles
 We have $239.92 wort of Sweatshit
 We have $269.73 wort of Boots
[29.9, 1399.86, 2199.9, 1349.85, 239.92, 269.73]

5489.16

In [29]:
counter = 0 
while counter < 10:
    counter += 1
    print(counter)

1
2
3
4
5
6
7
8
9
10

# Example number 1

In [33]:
#starting portfolio balance is 800000
stock_portfolio = 800000
year_counter = 0

while stock_portfolio < 1000000: #calculate annual investment income
    investment_income = stock_portfolio * .05  # 5% interest rate
    stock_portfolio += investment_income # add income to end of year portfolio balance
    year_counter += 1 #add one each year
    print(f' At the end of year {year_counter}:' + f' My balance is $ {round(stock_portfolio, 2)}')

 At the end of year 1: My balance is $ 840000.0
 At the end of year 2: My balance is $ 882000.0
 At the end of year 3: My balance is $ 926100.0
 At the end of year 4: My balance is $ 972405.0
 At the end of year 5: My balance is $ 1021025.25

# Example number 2

In [34]:
#calculating bank balance until we're out of money
bank_balance = 5000
month_counter = 0 
while bank_balance > 0:
    spending = 1000
    bank_balance -= spending
    month_counter += 1
    print(f' At the end of month {month_counter}: ' + f' My balance is ${round(bank_balance, 2)}')

 At the end of month 1:  My balance is $4000
 At the end of month 2:  My balance is $3000
 At the end of month 3:  My balance is $2000
 At the end of month 4:  My balance is $1000
 At the end of month 5:  My balance is $0

# while_loop_demo

In [42]:
customer_ratings = [
    '5 stars', '3 stars', '1 star', '4 stars', '7 stars', '4 stars', '5 stars','4 stars', '3 stars', '7 stars','5 stars', '1 star']

In [43]:
onestar_counter = 0 

while '1 star' in customer_ratings:
    customer_ratings.remove('1 star')
    onestar_counter += 1
    print(onestar_counter)
print(customer_ratings)

1
2
['5 stars', '3 stars', '4 stars', '7 stars', '4 stars', '5 stars', '4 stars', '3 stars', '7 stars', '5 stars']

# Demo Nested Loops

In [44]:
items = ['skis', 'snowboards', 'googles', 'boots']

item_reviews = [['5 stars', '3 stars', '1 star'],
['5 stars', '2 stars'],
['3 stars', '1 star'],
['1 star']]

In [54]:
item_reviews_numeric = []
for item in item_reviews:
    integer_ratings = []
    for review in item:
        integer_rating = int(review[0])
        integer_ratings.append(integer_rating)
    item_reviews_numeric.append(integer_ratings)
print(item_reviews_numeric)

[[5, 3, 1], [5, 2], [3, 1], [1]]

In [55]:
for item in item_reviews_numeric:
    print(sum(item)/len(item))

3.0
3.5
2.0
1.0

# Loop Control

In [56]:
#break
subtotals = [ 15.99, 899.99, 799.98, 117.98, 5.98, 599.99, 1799.95, 99.99]
revenue = 0

for subtotal in subtotals:
    revenue += subtotal
    print(round(revenue, 2))
    if revenue > 2000:
        break

15.99
915.98
1715.96
1833.94
1839.92
2439.91

In [58]:
#break statement

stock_portfolio = 100
year_counter = 0 

while stock_portfolio < 1000000:
    investment_income = stock_portfolio *.05
    stock_portfolio += investment_income
    year_counter += 1
    print(f' My balacne is ${round(stock_portfolio)} in year {year_counter}')
    if year_counter >= 30:
        print(' Guess i need to save more')
        break

 My balacne is $105 in year 1
 My balacne is $110 in year 2
 My balacne is $116 in year 3
 My balacne is $122 in year 4
 My balacne is $128 in year 5
 My balacne is $134 in year 6
 My balacne is $141 in year 7
 My balacne is $148 in year 8
 My balacne is $155 in year 9
 My balacne is $163 in year 10
 My balacne is $171 in year 11
 My balacne is $180 in year 12
 My balacne is $189 in year 13
 My balacne is $198 in year 14
 My balacne is $208 in year 15
 My balacne is $218 in year 16
 My balacne is $229 in year 17
 My balacne is $241 in year 18
 My balacne is $253 in year 19
 My balacne is $265 in year 20
 My balacne is $279 in year 21
 My balacne is $293 in year 22
 My balacne is $307 in year 23
 My balacne is $323 in year 24
 My balacne is $339 in year 25
 My balacne is $356 in year 26
 My balacne is $373 in year 27
 My balacne is $392 in year 28
 My balacne is $412 in year 29
 My balacne is $432 in year 30
 Guess i need to save more

In [64]:
#continue statement

item_list = ['ski-keychain', 'Helmet', 'Snowboard', 'Ski-Poles', 'Sweatshit', 'ski-Boots' ]
snowboards = []
for item in item_list:
    if 'ski' in item:
        continue
    snowboards.append(item)
print(snowboards)

['Helmet', 'Snowboard', 'Ski-Poles', 'Sweatshit']

In [65]:
#pass statement
item_list = ['ski-keychain', 'Helmet', 'Snowboard', 'Ski-Poles', 'Sweatshit', 'ski-Boots' ]
snowboards = []
for item in item_list:
    if 'ski' in item:
        pass
    snowboards.append(item)
print(snowboards)

# Try and except

In [70]:
price_list = [5.99, 5.88, None, 0, 11.22, '32.99', 99.99]
for price in price_list:
    try:
        affordable_quantity = 50// price 
        print(f' i can buy {affordable_quantity} of these.')
    except ZeroDivisionError:
        print("You can't divded by zero")
    except:
        print('The price seems to be missing')

 i can buy 8.0 of these.
 i can buy 8.0 of these.
The price seems to be missing
You can't divded by zero
 i can buy 4.0 of these.
The price seems to be missing
 i can buy 0.0 of these.

# loop_control_demo

In [76]:
word = 'Maven'
new_word=''

for letter in word:
    if letter in 'v':
        break
    new_word += letter
print(new_word)

Ma

In [80]:
ratings = [ '1 star', '5 star',  'star 3', '4 star']
for rating in ratings:
    try:
        print(int(rating[0]))
    except ValueError:
        print("wrong value")

1
5
wrong value
4

# List Limitations

In [84]:
inventory_status = [['skis', 'in stock'], ['snowboard', 'sold out'],['googgles', 'sold out'],['boots', 'in stock']]
item_looking_for = 'googgles'
for item in inventory_status:
    if item[0] == item_looking_for:
        print(item[1])

sold out

# Dictonary basic

In [86]:
inventory_status = {'skis': 'in stock',
                   'snowboard': 'sold out',
                   'goggles': 'sold out', 'boots': 'in stock'}
inventory_status['skis']

'in stock'

In [90]:
inventory_details = {'skis': [244.99, 10, 'in stock'],
                   'snowboard': [432.12, 12, 'sold out'],
                   'goggles': [542.45, 45, 'sold out'], 'boots': [678.98, 32, 'in stock']}
inventory_details['skis']

[244.99, 10, 'in stock']

In [93]:
inventory_details['skis'][1]

10

# Modyfying dictionaries

In [96]:
item_details = {'skis': [244.99, 10, 'in stock'],
                   'snowboard': [432.12, 12, 'sold out'],
                   'goggles': [542.45, 45, 'sold out'], 'boots': [678.98, 32, 'in stock']}

In [97]:
item_details['bindings'] = [149.99, 4, 'in stock']
print(item_details)

{'skis': [244.99, 10, 'in stock'], 'snowboard': [432.12, 12, 'sold out'], 'goggles': [542.45, 45, 'sold out'], 'boots': [678.98, 32, 'in stock'], 'bindings': [149.99, 4, 'in stock']}

In [98]:
item_details['bindings'] = [139.99, 0, 'out of stock']
item_details

{'skis': [244.99, 10, 'in stock'],
 'snowboard': [432.12, 12, 'sold out'],
 'goggles': [542.45, 45, 'sold out'],
 'boots': [678.98, 32, 'in stock'],
 'bindings': [139.99, 0, 'out of stock']}

In [99]:
del item_details['boots']
print(item_details)

{'skis': [244.99, 10, 'in stock'], 'snowboard': [432.12, 12, 'sold out'], 'goggles': [542.45, 45, 'sold out'], 'bindings': [139.99, 0, 'out of stock']}

# dictionary_operations_demo

In [110]:
item_prices = {
    'skis': 249.99,
    'snowboard': 219.99,
    'goggles': 99.99,
    'boots': [79.99, 89.99]
}

In [101]:
print(item_prices)

{'skis': 249.99, 'snowboard': 219.99, 'goggles': 99.99, 'boots': [79.99, 89.99]}

In [102]:
print(item_prices['skis'])

249.99

In [106]:
print(item_prices['boots'][1])

89.99

In [105]:
print(item_prices['hat'])

KeyError: 'hat'

In [109]:
print(item_prices[1])

219.99

In [111]:
'skis' in item_prices

True

In [112]:
for item in item_prices:
    print(item)

skis
snowboard
goggles
boots

In [113]:
item_prices['skis'] = round(item_prices['skis'] * 1.1, 2)
print(item_prices)

{'skis': 274.99, 'snowboard': 219.99, 'goggles': 99.99, 'boots': [79.99, 89.99]}

In [114]:
item_prices['hat'] = 14.99

In [115]:
print(item_prices)

{'skis': 274.99, 'snowboard': 219.99, 'goggles': 99.99, 'boots': [79.99, 89.99], 'hat': 14.99}

In [116]:
new_items = ['coffee', 'helmet']
new_prices = [5.99, 99.99]

In [117]:
for i, item in enumerate(new_items):
    item_prices[item] = new_prices[i]
print(item_prices)

{'skis': 274.99, 'snowboard': 219.99, 'goggles': 99.99, 'boots': [79.99, 89.99], 'hat': 14.99, 'coffee': 5.99, 'helmet': 99.99}

In [118]:
del item_prices['coffee']

In [119]:
print(item_prices)

{'skis': 274.99, 'snowboard': 219.99, 'goggles': 99.99, 'boots': [79.99, 89.99], 'hat': 14.99, 'helmet': 99.99}

In [120]:
del item_prices['boots'][1]

In [121]:
print(item_prices)

{'skis': 274.99, 'snowboard': 219.99, 'goggles': 99.99, 'boots': [79.99], 'hat': 14.99, 'helmet': 99.99}

In [123]:
item_prices['boots'][0] = 79.99

In [124]:
print(item_prices)

{'skis': 274.99, 'snowboard': 219.99, 'goggles': 99.99, 'boots': [79.99], 'hat': 14.99, 'helmet': 99.99}

In [126]:
item_prices['boots'][0] = 89.99

In [127]:
print(item_prices)

{'skis': 274.99, 'snowboard': 219.99, 'goggles': 99.99, 'boots': [89.99], 'hat': 14.99, 'helmet': 99.99}

# Keys & Values Methods

In [129]:
#.keys()
item_details = {'skis': [244.99, 10, 'in stock'],
                   'snowboard': [432.12, 12, 'sold out'],
                   'goggles': [542.45, 45, 'sold out'], 'boots': [678.98, 32, 'in stock']}
print(item_details.keys())

dict_keys(['skis', 'snowboard', 'goggles', 'boots'])

In [130]:
for item in item_details.keys():
    print(item)

skis
snowboard
goggles
boots

In [131]:
key_list = list(item_details.keys())
print(key_list)

['skis', 'snowboard', 'goggles', 'boots']

In [133]:
#.values()
item_details = {'skis': [244.99, 10, 'in stock'],
                   'snowboard': [432.12, 12, 'sold out'],
                   'goggles': [542.45, 45, 'sold out'], 'boots': [678.98, 32, 'in stock']}
print(item_details.values())

dict_values([[244.99, 10, 'in stock'], [432.12, 12, 'sold out'], [542.45, 45, 'sold out'], [678.98, 32, 'in stock']])

In [134]:
price_list[]
for attribute in item.details.values():
    price.list.append(attribute[0])
print(price_list)

SyntaxError: invalid syntax (197242728.py, line 1)